<md-autocomplete
    placeholder="{{ $ctrl.placeholder }}"
    ng-disabled="false"
    ng-blur="$ctrl.actions.blur($ctrl.data.search)"
    md-no-cache="true"
    md-delay="200"
    md-min-length="0"
    md-clear-button="true"
    md-search-text-change=""
    md-search-text="$ctrl.data.search"
    md-selected-item="$ctrl.data.selectedTime"
    md-selected-item-change="$ctrl.actions.updateTime($ctrl.data.selectedTime)"
    md-items="time in $ctrl.actions.search($ctrl.data.search)"
    md-item-text="time">
    <md-item-template>
        <span md-highlight-text="$ctrl.data.search" md-highlight-flags="^i">{{ time }}</span>
    </md-item-template>
</md-autocomplete>
