<md-dialog aria-label="{{ $ctrl.data.title }}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ $ctrl.data.title }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="$ctrl.actions.cancel($ctrl.data.client)">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <form name="$ctrl.data.clientProfileForm" novalidate autocomplete="off">
                <md-input-container class="md-block">
                    <label>Prenume</label>
                    <md-icon>person</md-icon>
                    <input name="clientFirstName" ng-model="$ctrl.data.client.firstName"  minlength="2" md-maxlength="100" required>
                    <div ng-messages="$ctrl.data.clientProfileForm.clientFirstName.$error">
                        <div ng-message="required">Prenumele este obligatoriu</div>
                        <div ng-message="md-maxlength">Prenumele trebuie sa aiba sub 100 de caractere</div>
                        <div ng-message="minlength">Prenumele trebuie sa aiba mai mult de 1 caracter</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Nume</label>
                    <md-icon>person</md-icon>
                    <input name="clientLastName" ng-model="$ctrl.data.client.lastName"  minlength="2" md-maxlength="100" required>
                    <div ng-messages="$ctrl.data.clientProfileForm.clientLastName.$error">
                        <div ng-message="required">Numele este obligatoriu</div>
                        <div ng-message="md-maxlength">Numele trebuie sa aiba sub 100 de caractere</div>
                        <div ng-message="minlength">Numele trebuie sa aiba mai mult de 1 caracter</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Telefon</label>
                    <md-icon>phone</md-icon>
                    <input 
                        name="clientPhoneNo" type="text" minlength="10" md-maxlength="10" required
                        ng-model="$ctrl.data.client.phoneNumber" ng-model-options="{debounce: 500}" 
                        ng-change="$ctrl.actions.checkIfDuplicate('phoneNumber', $ctrl.data.client.phoneNumber)"  
                        >
                    <div ng-messages="$ctrl.data.clientProfileForm.clientPhoneNo.$error">
                        <div ng-message="required">Numarul de telefon este obligatoriu</div>
                        <div ng-message="minlength, md-maxlength">Numarul de telefon trebuie sa inceapa cu zero si sa fie format din 10 cifre</div>
                    </div>
                </md-input-container>
                <div layout="row">
                    <md-button ng-show="$ctrl.status.showButton">duplicat</md-button>
                </div>

                <div layout="column" layout-gt-md="row">
                    <md-input-container class="md-block">
                        <label>Data nasterii</label>
                        <md-datepicker flex
                            name="clientDateOfBirth"
                            ng-model="$ctrl.data.client.dateOfBirth" 
                            md-current-view="year" 
                            md-placeholder="Data Nasterii"
                            md-max-date="$ctrl.data.maxDateOfBirth"
                            md-open-on-focus
                            required
                            ng-blur="$ctrl.actions.calculateClientAge($ctrl.data.client.dateOfBirth)"
                            >
                        </md-datepicker>
                        <div ng-messages="$ctrl.data.clientProfileForm.clientDateOfBirth.$error">
                            <div ng-message="required">Data nasterii este obligatorie</div>
                        </div>
                    </md-input-container>

                    <md-input-container flex>
                        <label>Varsta</label>
                        <md-icon>person</md-icon>
                        <input name="clientAge" type="text" ng-model="$ctrl.data.client.age" ng-readonly="true">
                    </md-input-container>
                </div>

                <md-input-container class="md-block">
                    <label>Email</label>
                    <md-icon>email</md-icon>
                    <input name="clientEmail" type="email" 
                        ng-model="$ctrl.data.client.email" 
                        ng-model-options="{debounce: 500}" 
                        ng-change="$ctrl.actions.checkIfDuplicate('email', $ctrl.data.client.email)"  
                        ng-pattern="/[\wd\-\_\.]+@[\wd\-\_\.]+\.[\wd\-\_\.]+/">
                    <div ng-messages="$ctrl.data.clientProfileForm.clientEmail.$error">
                        <div ng-message="pattern">Adresa trebuie sa fie in formatul: user.name@email.com</div>
                    </div>
                </md-input-container>

                <md-button ng-click="$ctrl.status.showMoreProfileDetails = !$ctrl.status.showMoreProfileDetails">
                    Caracteristici
                    <md-icon>keyboard_arrow_{{$ctrl.status.showMoreProfileDetails ? "up" : 'down'}}</md-icon>
                </md-button>

                <div ng-show="$ctrl.status.showMoreProfileDetails" class="fade">

                    <md-input-container>
                        <md-icon>favorite</md-icon>
                        <label>Prefera pe:</label>
                        <md-select name="preferredStaff" 
                            ng-model="$ctrl.data.client._preferredStaffId">
                            <md-option ng-value="null">Fara</md-option>
                            <md-option 
                                ng-value="staff._id" 
                                ng-repeat="staff in $ctrl.data.staff track by staff._id">
                                {{ staff.firstName }} {{ staff.lastName }}
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <div layout="row" layout-wrap>
                        <md-input-container>
                            <md-checkbox layout="row" layout-align="start center"
                                ng-model="$ctrl.data.client.isVip"
                                ng-change="$ctrl.actions.setVIPData($ctrl.data.client)" 
                                aria-label="Client vip">
                                <md-icon>star</md-icon>
                                <span>VIP?</span>
                            </md-checkbox>
                        </md-input-container>

                        <md-input-container>
                            <label>Tip</label>
                            <md-select name="vipType" 
                                ng-model-options="{trackBy: '$value.id'}" 
                                ng-model="$ctrl.data.client.vip.type"
                                ng-disabled="!$ctrl.data.client.isVip">
                                <md-option ng-value="clientVipType" ng-repeat="clientVipType in $ctrl.data.clientVip.types">
                                    {{ clientVipType.label }}
                                </md-option>
                            </md-select>
                            <div ng-messages="$ctrl.data.clientProfileForm.vipType.$error">
                                <div ng-message="required">Tipul de VIP este necesar.</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label>Nivel</label>
                            <md-select name="vipLevel" 
                                ng-model-options="{trackBy: '$value.id'}" 
                                ng-model="$ctrl.data.client.vip.level"
                                ng-disabled="!$ctrl.data.client.isVip">
                                <md-option ng-value="clientVipLevel" ng-repeat="clientVipLevel in $ctrl.data.clientVip.levels">
                                    {{ clientVipLevel.label }}
                                </md-option>
                            </md-select>
                            <div ng-messages="$ctrl.data.clientProfileForm.vipLevel.$error">
                                <div ng-message="required">Nivelul de VIP este necesar.</div>
                            </div>
                        </md-input-container>
                    </div>

                    <md-input-container class="md-block">
                        <label>Tip ten</label>
                        <input ng-model="$ctrl.data.client.skinType" >
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Probleme medicale anterioare</label>
                        <textarea ng-model="$ctrl.data.client.previousMedicalConditions" >
                        </textarea>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Tratamente anterioare</label>
                        <textarea ng-model="$ctrl.data.client.previousTreatments" >
                        </textarea>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Produse de ingrijire folosite</label>
                        <textarea ng-model="$ctrl.data.client.skinCareProductsUsed" >
                        </textarea>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Cum a auzit de mine</label>
                        <textarea ng-model="$ctrl.data.client.discovery" >
                        </textarea>
                    </md-input-container>

                </div>
            </form>

        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="end center">
        <md-button ng-click="$ctrl.actions.cancel($ctrl.data.client)">
            Renunta
        </md-button>
        <md-button class="md-raised md-primary" ng-click="$ctrl.actions.save($ctrl.data.client)" ng-disabled="$ctrl.data.clientProfileForm.$invalid">
            Salveaza Client
        </md-button>
    </md-dialog-actions>

</md-dialog>