
<md-content ng-hide="$ctrl.data.historyItem" layout="row" layout-align="start center">
	<h2>Selecteaza o sedinta din istoric client</h2>
</md-content>

<h2 ng-show="$ctrl.data.historyItem"><md-icon>assignment</md-icon>Sedinta</h2>
<md-content layout-padding ng-show="$ctrl.data.historyItem">
	<div>

		<form name="$ctrl.data.editHistoryItemForm">
			<div layout="row" layout-align="start center">
				<md-input-container>
					<label>Data sedintei</label>
					<md-datepicker name="date" required
						ng-model="$ctrl.data.historyItem.date"  
						md-max-date="$ctrl.data.maxDate"
						ng-disabled="!$ctrl.status.editHistoryItemForm"
						md-open-on-focus>
					</md-datepicker>
					<div ng-messages="$ctrl.data.editHistoryItemForm.date.$error">
						<div ng-message="valid">Valoarea introdusa nu este o data valida</div>
						<div ng-message="required">Data este necesara</div>
						<div ng-message="maxdate">Data nu poate fi mai mare decat data curenta</div>
					</div>
				</md-input-container>
				<div flex></div>
				<md-input-container flex>
					<label>Interval in saptamani</label>
					<md-icon>timelapse</md-icon>
					<input name="interval"
						ng-model="$ctrl.data.historyItem.interval" type="number" step="1"
						ng-disabled="!$ctrl.status.editHistoryItemForm">
				</md-input-container>
			</div>
			<div layout="row" layout-align="start center">
				<md-input-container flex>
					<label>Alege Servicii</label>
					<md-select name="services" ng-model-options="{trackBy: '$value.id'}"
						ng-model="$ctrl.data.historyItem.services" multiple required
						ng-disabled="!$ctrl.status.editHistoryItemForm"
						md-on-close="$ctrl.data.searchServices = '';"
						data-md-container-class="selectdemoSelectHeader">
						<md-select-header class="demo-select-header">
							<input
								ng-model="$ctrl.data.searchServices"
								placeholder="Cauta un serviciu"
								class="demo-header-searchbox md-text">
						</md-select-header>
						<md-optgroup label="{{serviceType}}" ng-repeat="serviceType in $ctrl.data.servicesTypes track by serviceType">
							<md-option ng-value="service" 
								ng-repeat="service in filteredServices = ($ctrl.data.services | filter: {type: serviceType, name: $ctrl.data.searchServices })  track by service.id">
								{{service.name}}
							</md-option>
						</md-optgroup>
					</md-select>
					<div ng-messages="$ctrl.data.editHistoryItemForm.services.$error">
						<div ng-message="required">Minim un serviciu trebuie introdus</div>
					</div>
				</md-input-container>
			</div>

			<md-input-container class="md-block">
				<label>Produse acasa</label>
				<textarea md-select-on-focus name="homeProducts"
					ng-disabled="!$ctrl.status.editHistoryItemForm"
					ng-model="$ctrl.data.historyItem.homeProducts">
				</textarea>
			</md-input-container>

			<md-input-container class="md-block">
				<label>Observatii</label>
				<textarea md-select-on-focus name="observations"
					ng-disabled="!$ctrl.status.editHistoryItemForm"
					ng-model="$ctrl.data.historyItem.observations">
				</textarea>
			</md-input-container>
		</form>

		<md-card>
			<md-card-header>
				<md-card-header-text>
					<h3>Filmari (3)</h3>
				</md-card-header-text>
			</md-card-header>
			<md-card-content>
				aici vor fi filmari
			</md-card-content>
		</md-card>
		<md-card>
			<md-card-header>
				<md-card-header-text>
					<h3>Poze (3)</h3>
				</md-card-header-text>
			</md-card-header>
			<md-card-content>
				aici vor fi Poze
			</md-card-content>
		</md-card>
	</div>
	<div layout="row" layout-align="end center">

		<md-button class="md-raised" 
			ng-hide="$ctrl.status.editHistoryItemForm"
			ng-click="$ctrl.status.editHistoryItemForm = true">
			<md-icon>edit</md-icon>
			Editeaza sedinta
		</md-button>

		<md-button class="md-raised"
			ng-show="$ctrl.status.editHistoryItemForm"
			ng-click="$ctrl.actions.revertChanges()">
			<md-icon>cancel</md-icon>
			Renunta
		</md-button>
		<md-button class="md-primary md-raised" 
			ng-show="$ctrl.status.editHistoryItemForm"
			ng-disabled="$ctrl.data.editHistoryItemForm.$invalid"
			ng-click="$ctrl.actions.editHistoryItem($ctrl.data.historyItem)">
			<md-icon>add</md-icon>
			Salveaza sedinta
		</md-button>
	</div>
</md-content>

