<h2 class="md-flex">Detaliu: Sedinta #</h2>
<md-content flex layout-padding>
	<div>
		<md-input-container class="md-block">
			<label>
				Notite
			</label>
			<textarea rows="5" md-select-on-focus></textarea>
		</md-input-container>
		<md-card>
			<md-card-header>
				<md-card-header-text>
					<h3>Poze (3)</h3>
				</md-card-header-text>
			</md-card-header>
			<md-card-content>
				aici vor fi poze
			</md-card-content>
		</md-card>
		<md-card>
			<md-card-header>
				<md-card-header-text>
					<h3>Filmari (3)</h3>
				</md-card-header-text>
			</md-card-header>
			<md-card-content>
				aici vor fi filmari
			</md-card-content>
		</md-card>
	</div>
</md-content>

