<div flex>
    <md-card>
        <img src="img/qr_code_bank_account_personal_elena.png" class="md-card-image qr-code-bank-account" alt="image caption">
        <md-card-title>
            <md-card-title-text layout="row" layout-align="center start">
                <span class="md-headline">Detalii Cont</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="row" layout-align="center start">
                <div layout="row" flex="50">
                    <div layout="column" flex>
                        <span>IBAN Beneficiar:</span>
                        <span>Nume Beneficiar:</span>
                        <span>Banca Beneficiar:</span>
                        <span>Cod SWIFT:</span>
                    </div>
                    <div layout="column" flex-offset="5" flex>
                        <span>RO15INGB0000999904637532</span>
                        <span>Elena Miron </span>
                        <span>ING Bank Bucuresti Centrala </span>
                        <span>INGBROBU</span> 
                    </div>
                </div> 
            </div>
        </md-card-content>
    </md-card>
</div>
