<div flex>
    <md-card>
        <img src="img/qr_code_bank_account_personal_elena.png" class="md-card-image qr-code-bank-account" alt="image caption">
        <md-card-title>
            <md-card-title-text layout="row" layout-align="center center">
                <span class="md-headline">Detalii Cont</span>
                <md-button 
                    class="md-default" 
                    ng-click="$ctrl.actions.copyToClipboard('IBAN Beneficiar: RO15INGB0000999904637532\nNume Beneficiar: Elena Miron')">
                    <md-icon>account_balance</md-icon>
                    Copiaza Detalii Cont
                </md-button>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="row" layout-align="center start">
            <div layout="row" flex="75">
                <div layout="column" flex layout-align="start end">
                    <span>IBAN Beneficiar:</span>
                    <span>Nume Beneficiar:</span>
                    <span>Banca Beneficiar:</span>
                    <span>Cod SWIFT:</span>
                </div>
                <div layout="column" flex flex-offset="10">
                    <span>RO15INGB0000999904637532</span>
                    <span>Elena Miron </span>
                    <span>ING Bank Bucuresti Centrala </span>
                    <span>INGBROBU</span> 
                </div>
            </div> 
        </md-card-content>
    </md-card>
</div>



