<h2>
    <md-icon>assignment_ind</md-icon> Profil client
</h2>
<md-content style="max-height: 80vh">
    <md-card class="vip-background {{ $ctrl.data.client.vip.level.label }}">
        <md-card-content>

            <form name="$ctrl.data.clientProfileForm" novalidate autocomplete="off">
                <md-input-container class="md-block">
                    <label>Prenume</label>
                    <md-icon>person</md-icon>
                    <input name="clientFirstName" ng-model="$ctrl.data.client.firstName" ng-readonly="!$ctrl.status.editClient" minlength="2" md-maxlength="50" required>
                    <div ng-messages="$ctrl.data.clientProfileForm.clientFirstName.$error">
                        <div ng-message="required">Prenumele este obligatoriu</div>
                        <div ng-message="md-maxlength">Prenumele trebuie sa aiba sub 50 de caractere</div>
                        <div ng-message="minlength">Prenumele trebuie sa aiba peste 1 caracter</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Nume</label>
                    <md-icon>person</md-icon>
                    <input name="clientLastName" ng-model="$ctrl.data.client.lastName" ng-readonly="!$ctrl.status.editClient" minlength="2" md-maxlength="50" required>
                    <div ng-messages="$ctrl.data.clientProfileForm.clientLastName.$error">
                        <div ng-message="required">Numele este obligatoriu</div>
                        <div ng-message="md-maxlength">Numele trebuie sa aiba sub 50 de caractere</div>
                        <div ng-message="minlength">Numele trebuie sa aiba peste 1 caracter</div>
                    </div>
                </md-input-container>
                <div layout="row">
                    <md-input-container flex="40">
                        <label>Varsta</label>
                        <md-icon>person</md-icon>
                        <input name="clientAge" type="number" ng-model="$ctrl.data.client.age" ng-readonly="!$ctrl.status.editClient" min="1" max="99" required>
                        <div ng-messages="$ctrl.data.clientProfileForm.clientAge.$error">
                            <div ng-message="required">Varsta este obligatorie</div>
                            <div ng-message="min">Varsta trebuie sa fie minim o cifra</div>
                            <div ng-message="max">Varsta trebuie sa fie maxim 2 cifre</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" flex>
                        <label>Telefon</label>
                        <md-icon>phone</md-icon>
                        <input name="clientPhoneNo" type="text" ng-model="$ctrl.data.client.phoneNumber" ng-model-options="{debounce: 500}" ng-change="$ctrl.actions.checkIfDuplicate('phoneNumber', $ctrl.data.client.phoneNumber)" ng-readonly="!$ctrl.status.editClient" minlength="10" md-maxlength="10" required>
                        <div ng-messages="$ctrl.data.clientProfileForm.clientPhoneNo.$error">
                            <div ng-message="required">Numarul de telefon este obligatoriu</div>
                            <div ng-message="minlength, md-maxlength">Numarul de telefon trebuie sa inceapa cu zero si sa fie format din 10 cifre</div>
                        </div>
                    </md-input-container>
                </div>

                <md-input-container class="md-block">
                    <label>Email</label>
                    <md-icon>email</md-icon>
                    <input name="clientEmail" type="email" ng-model="$ctrl.data.client.email" ng-model-options="{debounce: 500}" ng-change="$ctrl.actions.checkIfDuplicate('email', $ctrl.data.client.email)" ng-readonly="!$ctrl.status.editClient" ng-pattern="/[\wd\-\_\.]+@[\wd\-\_\.]+\.[\wd\-\_\.]+/">
                    <div ng-messages="$ctrl.data.clientProfileForm.clientEmail.$error">
                        <div ng-message="pattern">Adresa trebuie sa fie in formatul: user.name@email.com</div>
                    </div>
                </md-input-container>

                <md-button ng-click="$ctrl.status.showMoreProfileDetails = !$ctrl.status.showMoreProfileDetails">
                    Mai {{$ctrl.status.showMoreProfileDetails ? 'putine' : 'multe'}} detalii
                    <md-icon>keyboard_arrow_{{$ctrl.status.showMoreProfileDetails ? "up" : 'down'}}</md-icon>
                </md-button>

                <div ng-show="$ctrl.status.showMoreProfileDetails">
                    <md-input-container class="md-block">
                        <label>Tip ten</label>
                        <input ng-model="$ctrl.data.client.skinType" ng-readonly="!$ctrl.status.editClient">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Probleme medicale anterioare</label>
                        <textarea md-select-on-focus ng-model="$ctrl.data.client.previousMedicalConditions" ng-readonly="!$ctrl.status.editClient">
						</textarea>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Tratamente anterioare</label>
                        <textarea md-select-on-focus ng-model="$ctrl.data.client.previousTreatments" ng-readonly="!$ctrl.status.editClient">
						</textarea>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Produse de ingrijire folosite</label>
                        <textarea md-select-on-focus ng-model="$ctrl.data.client.skinCareProductsUsed" ng-readonly="!$ctrl.status.editClient">
						</textarea>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Cum a auzit de mine</label>
                        <textarea md-select-on-focus ng-model="$ctrl.data.client.discovery" ng-readonly="!$ctrl.status.editClient">
						</textarea>
                    </md-input-container>

                    <div layout="column">
                        <div>
                            <md-checkbox layout="row" layout-align="start end"
                                ng-model="$ctrl.data.client.isVip"
                                ng-change="$ctrl.actions.setVIPData($ctrl.data.client)" 
                                ng-disabled="!$ctrl.status.editClient"
                                aria-label="Client vip">
                                <md-icon>star</md-icon>
                                <span>VIP?</span>
                            </md-checkbox>
                        </div>
                        <div layout="row">
                            <md-input-container class="md-block">
                                <label>Tipul</label>
                                <md-select name="vipType" 
                                    ng-model-options="{trackBy: '$value.id'}" 
                                    ng-model="$ctrl.data.client.vip.type"
                                    ng-disabled="!$ctrl.status.editClient || !$ctrl.data.client.isVip">
                                    <md-option ng-value="clientVipType" ng-repeat="clientVipType in $ctrl.data.clientVip.types">
                                        {{ clientVipType.label }}
                                    </md-option>
                                </md-select>
                                <div ng-messages="$ctrl.data.clientProfileForm.vipType.$error">
                                    <div ng-message="required">Tipul de VIP este necesar.</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Nivel</label>
                                <md-select name="vipLevel" 
                                    ng-model-options="{trackBy: '$value.id'}" 
                                    ng-model="$ctrl.data.client.vip.level"
                                    ng-disabled="!$ctrl.status.editClient || !$ctrl.data.client.isVip">
                                    <md-option ng-value="clientVipLevel" ng-repeat="clientVipLevel in $ctrl.data.clientVip.levels">
                                        {{ clientVipLevel.label }}
                                    </md-option>
                                </md-select>
                                <div ng-messages="$ctrl.data.clientProfileForm.vipLevel.$error">
                                    <div ng-message="required">Nivelul de VIP este necesar.</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                </div>

            </form>
        </md-card-content>
        <md-card-actions>
            <div layout="row" layout-align="end center">
                <md-button class="md-raised md-default" ng-show="$ctrl.status.editClient" ng-click="$ctrl.actions.resetForm()">
                    <md-icon>cancel</md-icon>
                    Renunta
                </md-button>

                <md-button class="md-raised md-primary" ng-show="$ctrl.status.editClient" ng-disabled="$ctrl.data.clientProfileForm.$invalid" ng-click="$ctrl.actions.saveClientProfile($ctrl.data.client)">
                    <md-icon>save</md-icon>
                    Salveaza
                </md-button>

                <md-button class="md-raised md-default" ng-show="!$ctrl.status.editClient" ng-click="$ctrl.status.editClient = !$ctrl.status.editClient">
                    <md-icon>edit</md-icon>
                    Editeaza
                </md-button>
            </div>
        </md-card-actions>
    </md-card>
</md-content>