<md-card class="vip-background {{ $ctrl.data.client.vip.level.label }}">
    <md-card-header>
        <md-icon>assignment_ind</md-icon>
        <md-card-header-text layout="row" layout-align="space-between center">
            <span class="md-headline">Profil client</span>
            <div> 
                <md-button class="md-primary"
                    ng-click="$ctrl.actions.editClient($event, $ctrl.data.client)">
                    <md-icon>edit</md-icon>
                    Editeaza
                </md-button>
            </div>
        </md-card-header-text>
    </md-card-header>
    <md-card-content>
        <p>
            <b>{{ $ctrl.data.client.firstName }} {{$ctrl.data.client.lastName}}</b> are varsta de <b>{{ $ctrl.data.client.age || '-trebuie completata data de nastere-'}}</b>.
        </p>
        <p>
            Telefon: 
            <b ng-click="$ctrl.actions.copyToClipboard($ctrl.data.client.phoneNumber)">
                {{ $ctrl.data.client.phoneNumber }}
            </b>
        </p>
        <p>
            e-mail: 
            <b ng-click="$ctrl.actions.copyToClipboard($ctrl.data.client.email)">
                {{ $ctrl.data.client.email || '-trebuie completat e-mailul-'}}
            </b>
        </p>

        <md-button ng-click="$ctrl.status.showMoreProfileDetails = !$ctrl.status.showMoreProfileDetails">
            {{$ctrl.status.showMoreProfileDetails ? 'Ascunde' : 'Vezi'}} caracteristici
            <md-icon>keyboard_arrow_{{$ctrl.status.showMoreProfileDetails ? "up" : 'down'}}</md-icon>
        </md-button>

        <div ng-show="$ctrl.status.showMoreProfileDetails" class="fade">
            <md-list>
                <md-list-item>
                    Tip de piele: <b>{{ $ctrl.data.client.skinType || ' -trebuie completat-'}}</b>
                </md-list-item>
                <md-list-item>
                    Probleme medicale anterioare: <b>{{ $ctrl.data.client.previousMedicalConditions || ' -trebuie completat-'}}</b>
                </md-list-item>
                <md-list-item>
                    Tratamente anterioare: <b>{{ $ctrl.data.client.previousTreatments || ' -trebuie completat-'}}</b>
                </md-list-item>
                <md-list-item>
                    Produse de ingrijire folosite: <b>{{ $ctrl.data.client.skinCareProductsUsed || ' -trebuie completat-'}}</b>
                </md-list-item>
                <md-list-item>
                    Cum a aflat de salon: <b>{{ $ctrl.data.client.discovery || ' -trebuie completat-'}}</b>
                </md-list-item>
                <md-list-item ng-if="$ctrl.data.client.isVip">
                    Tip VIP: <b> {{ $ctrl.data.client.vip.type.label }}, {{ $ctrl.data.client.vip.level.label }}</b>
                </md-list-item>
            </md-list>
        </div>
    </md-card-content>
    <md-card-actions>
        <div layout="row" layout-wrap layout-align="end center">

        </div>
    </md-card-actions>
</md-card>