<md-card class="vip-background {{ $ctrl.data.client.vip.level.label }}">
    <md-card-header>
        <md-icon>assignment_ind</md-icon>
        <md-card-header-text layout="row" layout-align="space-between center">
            <span class="md-headline">Profil client</span>
            <div> 
                <md-button class="md-primary"
                    ng-click="$ctrl.actions.editClient($event, $ctrl.data.client)">
                    <md-icon>edit</md-icon>
                    Editeaza
                </md-button>
            </div>
        </md-card-header-text>
    </md-card-header>
    <md-card-content>
        <p>
            <b>{{ $ctrl.data.client.firstName }} {{$ctrl.data.client.lastName}}</b> 
            are varsta de 
            <b>{{ $ctrl.data.client.age || '-trebuie completata data de nastere-'}}.
                <md-tooltip>Data Nasterii: {{ $ctrl.data.client.dateOfBirth | amDateFormat:'Do/MM/YYYY' }}</md-tooltip>
            </b>
        </p>
        <p>
            Telefon: 
            <b ng-click="$ctrl.actions.copyToClipboard($ctrl.data.client.phoneNumber)">
                {{ $ctrl.data.client.phoneNumber }}
                <md-tooltip hide show-gt-sm md-direction="right">Copiaza</md-tooltip>
            </b>
        </p>
        <p>
            e-mail: 
            <b ng-click="$ctrl.actions.copyToClipboard($ctrl.data.client.email)">
                {{ $ctrl.data.client.email || '-trebuie completat e-mailul-'}}
                <md-tooltip hide show-gt-sm md-direction="right">Copiaza</md-tooltip>
            </b>
        </p>

        <md-button ng-click="$ctrl.status.showMoreProfileDetails = !$ctrl.status.showMoreProfileDetails">
            {{$ctrl.status.showMoreProfileDetails ? 'Ascunde' : 'Vezi'}} caracteristici
            <md-icon>keyboard_arrow_{{$ctrl.status.showMoreProfileDetails ? "up" : 'down'}}</md-icon>
        </md-button>

        <div ng-show="$ctrl.status.showMoreProfileDetails" class="fade">

            <p>
                Tip de piele: <b>{{ $ctrl.data.cpent.skinType || ' -trebuie completat-'}}</b>
            </p>
            <p>
                Probleme medicale anterioare: <b>{{ $ctrl.data.cpent.previousMedicalConditions || ' -trebuie completat-'}}</b>
            </p>
            <p>
                Tratamente anterioare: <b>{{ $ctrl.data.cpent.previousTreatments || ' -trebuie completat-'}}</b>
            </p>
            <p>
                Produse de ingrijire folosite: <b>{{ $ctrl.data.cpent.skinCareProductsUsed || ' -trebuie completat-'}}</b>
            </p>
            <p>
                Cum a aflat de salon: <b>{{ $ctrl.data.cpent.discovery || ' -trebuie completat-'}}</b>
            </p>
            <p ng-if="$ctrl.data.cpent.isVip">
                Tip VIP: <b> {{ $ctrl.data.cpent.vip.type.label }}, {{ $ctrl.data.cpent.vip.level.label }}</b>
            </p>

        </div>
    </md-card-content>
    <md-card-actions>
        <div layout="row" layout-wrap layout-align="end center">

        </div>
    </md-card-actions>
</md-card>