<md-card>
    <md-card-title>
        <md-card-title-text layout="row" layout-wrap layout-align="space-between center">
            <span class="md-headline">
                Lista Personal ({{ $ctrl.data.allStaff.length }})
            </span>
            <div>
                <md-button 
                    class="md-icon-button md-primary" 
                    ng-click="$ctrl.status.showSearch = true" 
                    ng-hide="$ctrl.status.showSearch">
                    <md-icon>search</md-icon>
                    <md-tooltip hide show-gt-sm>Cauta personal</md-tooltip>
                </md-button>

                <md-input-container ng-show="$ctrl.data.allStaff.length && $ctrl.status.showSearch" flex class="no-validation">
                    <md-icon>search</md-icon>
                    <label>Cauta personal</label>
                    <input 
                        ng-model="searchStaff" 
                        ng-model-options="{debounce: 400}" 
                        ng-blur="$ctrl.status.showSearch = false">
                </md-input-container>
            
                <md-menu md-position-mode="target-right target">
                    <md-button 
                        class="md-primary" 
                        md-menu-origin 
                        ng-click="$mdMenu.open($event)">
                        <md-icon>add_circle</md-icon>
                        adauga
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="$ctrl.actions.addStaff($event)">
                                <md-icon>person</md-icon>
                                Personal nou
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-card-title-text>
    </md-card-title>
    <md-card-content class="overflow">
        <md-list ng-show="$ctrl.data.allStaff.length">
            <md-list-item class="md-3-line"
                ng-repeat="staff in $ctrl.data.allStaff | filter:searchStaff track by staff._id"
                ng-click="$ctrl.actions.editStaff($event, staff)" 
                ng-mouseover="showControl = true" 
                ng-mouseleave="showControl = false">
                <img ng-src="{{ $ctrl.data.noPicture }}" class="md-avatar" alt="poza personal" />
                <div class="md-list-item-text" layout="column">
                    <h3>Nume: {{ staff.firstName }} {{ staff.lastName }}</h3>
                    <h4>email: {{ staff.email }}</h4>
                    <p>Telefon: {{ staff.phoneNumber }}, data nasterii: {{ staff.dateOfBirth | amDateFormat:'DD MMMM YYYY' }}</p>
                    <md-button ng-click="$ctrl.actions.editStaff($event, staff)" ng-show="showControl" class="md-secondary md-icon-button">
                        <md-icon>edit</md-icon>
                        <md-tooltip hide show-gt-sm md-direction="top">Editeaza</md-tooltip>
                    </md-button>
                    <md-button ng-click="$ctrl.actions.deleteStaff(staff._id)" ng-show="showControl" class="md-secondary md-icon-button">
                        <md-icon>delete</md-icon>
                        <md-tooltip hide show-gt-sm md-direction="top">Sterge</md-tooltip>
                    </md-button>
                </div>
            </md-list-item>
        </md-list>
    </md-card-content>
    <md-card-footer ng-show="!$ctrl.data.allStaff.length" layout="row" layout-align="center center">
        <h2>Adauga un personal apasand butonul din dreapta sus</h2>
    </md-card-footer>
</md-card>