<md-dialog aria-label="{{ $ctrl.data.title }}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ $ctrl.data.title }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="$ctrl.actions.cancel()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            
            <!--ADD SERVICES BY STAFF FORM-->
            <form name="$ctrl.data.addServicesByStaffForm">
                <div ng-repeat="servicesByStaff in $ctrl.data.historyItem.performedServices">
                    <md-card>
                        <md-card-header layout="row" layout-align="start center">
                            <md-card-header-text ng-click="$ctrl.actions.showCardContentServices($index)" layout="row" layout-align="start center">
                                <span class="md-title" ng-hide="servicesByStaff.staff && servicesByStaff.services">
                                    Alege persoana si serviciile efectuate 
                                </span>
                                <span class="md-title" ng-show="servicesByStaff.staff && servicesByStaff.services" layout="column">
                                    <div>{{ servicesByStaff.staff.first_name + ' ' + servicesByStaff.staff.last_name }} </div>
                                    <small>{{ servicesByStaff.services.length }} {{ servicesByStaff.services.length === 1 ? 'serviciu' : 'servicii'}}</small>
                                </span>
                                <span>
                                    <md-button class="md-icon-button">
                                        <md-icon>keyboard_arrow_{{$ctrl.data.showCardContentServices[$index] ? 'up' : 'down'}}</md-icon>
                                    </md-button>
                                </span>
                            </md-card-header-text>
                            <md-button ng-click="$ctrl.actions.deleteServicesByStaff($ctrl.data.historyItem.performedServices, $index)" button-shrink="gt-sm">
                                <md-icon>delete</md-icon>
                                Sterge
                            </md-button>
                        </md-card-header>
                        <md-card-content ng-show="$ctrl.data.showCardContentServices[$index]">
                            <div>
                                
                                <div layout="column" layout-gt-sm="row">

                                    <!--STAFF-->
                                    <md-input-container flex>
                                        <label>Servicii efectuate de:</label>
                                        <md-select name="staff_{{$index}}" required
                                            ng-model-options="{trackBy: '$value.id'}" 
                                            ng-model="servicesByStaff.staff">
                                            <md-option ng-value="user" ng-repeat="user in $ctrl.data.users track by user.id">
                                                <md-icon>account_circle</md-icon> {{ user.first_name }} {{ user.last_name }}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="$ctrl.data.addServicesByStaffForm['staff_' + $index].$error">
                                            <div ng-message="required">O persoana trebuie selectata.</div>
                                        </div>
                                    </md-input-container>

                                    <!--ROOM-->
                                    <md-input-container flex>
                                        <label>In camera:</label>
                                        <md-select name="room_{{$index}}" required
                                            ng-model-options="{trackBy: '$value.id'}" 
                                            ng-model="servicesByStaff.room">
                                            <md-option ng-value="room" ng-repeat="room in $ctrl.data.salonRooms | filter: {type: 'service'} track by room.id">
                                                <md-icon>{{ room.icon }}</md-icon> {{ room.name }}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="$ctrl.data.addServicesByStaffForm['room_' + $index].$error">
                                            <div ng-message="required">O camera trebuie selectata.</div>
                                        </div>
                                    </md-input-container>

                                    <!--SERVICES-->
                                    <md-input-container flex>
                                        <label>Alege Servicii</label>
                                        <md-select 
                                            name="services_{{$index}}" multiple required
                                            ng-model-options="{trackBy: '$value._id'}" 
                                            ng-model="servicesByStaff.services"  
                                            md-on-close="$ctrl.data.searchServices = ''; $ctrl.actions.setTotalCost(servicesByStaff)" 
                                            md-selected-text="$ctrl.actions.changeSelectedServicesText(servicesByStaff.services)"
                                            data-md-container-class="container-select-header">
                                            <md-select-header class="select-header">
                                                <input ng-model="$ctrl.data.searchServices" placeholder="Cauta un serviciu" class="select-header-searchbox">
                                            </md-select-header>
                                            <md-optgroup label="{{serviceType.name}}" ng-repeat="serviceType in $ctrl.data.serviceTypes | orderBy:'name' track by serviceType._id">
                                                <md-option ng-value="service" ng-repeat="service in filteredServices = ($ctrl.data.services | filter: {_serviceTypeId: serviceType._id, name: $ctrl.data.searchServices }) track by service._id">
                                                    {{service.name}}
                                                    <small>{{service.price}} RON ({{service.duration}} min.)</small>
                                                </md-option>
                                            </md-optgroup>
                                        </md-select>
                                        <div ng-messages="$ctrl.data.addServicesByStaffForm['services_' + $index].$error">
                                            <div ng-message="required">Minim un serviciu trebuie introdus</div>
                                        </div>
                                    </md-input-container>
                                </div>
                            </div>
                            <!--LISTA SERVICII ALESE-->
                            <div ng-repeat="service in servicesByStaff.services track by service._id"
                                ng-show="servicesByStaff.services.length" layout="column" layout-padding>
                                {{ $index + 1 }}. {{ service.name }}
                                <small>Pret: {{ service.price }} RON, Durata: {{ service.duration }} min.</small>
                            </div>

                            <div layout="row" layout-wrap ng-show="servicesByStaff.services.length">

                                <!--PRET-->
                                <md-input-container>
                                    <label>Pret grup servicii</label>
                                    <md-icon>attach_money</md-icon>
                                    <input name="cost_{{$index}}" 
                                        type="number" step="1" min="0" required
                                        ng-model="servicesByStaff.cost"
                                        ng-change="$ctrl.actions.setTotalCostWithDiscount(servicesByStaff)"
                                    >
                                    <div ng-messages="$ctrl.data.addServicesByStaffForm['cost_' + $index].$error">
                                        <div ng-message="min">Pretul nu poate fi negativ</div>
                                        <div ng-message="required">Obligatoriu</div>
                                    </div>
                                </md-input-container>

                                <!--DISCOUNT-->
                                <md-input-container>
                                    <label>Discount</label>
                                    <md-icon>money_off</md-icon>
                                    <input name="discount_{{$index}}" 
                                        type="number" step="1" min="0" 
                                        ng-model="servicesByStaff.discount" 
                                        ng-change="$ctrl.actions.setTotalCostWithDiscount(servicesByStaff)"
                                    >
                                    <div ng-messages="$ctrl.data.addServicesByStaffForm['discount_' + $index].$error">
                                        <div ng-message="min">Discount-ul nu poate fi negativ</div>
                                    </div>
                                </md-input-container>

                                <!--TOTAL-->
                                <md-input-container>
                                    <label>Total (RON)</label>
                                    <md-icon>attach_money</md-icon>
                                    <input name="total_{{$index}}" 
                                        type="number" step="1" min="0" ng-readonly="true"
                                        ng-model="servicesByStaff.total" 
                                    >
                                </md-input-container>
                            </div>

                            <div layout="row" layout-wrap>
                                <!--BUTON ARATA DETALII-->
                                <md-button ng-click="showExtraDetails = !showExtraDetails">
                                    <md-icon>{{ showExtraDetails ? 'keyboard_arrow_up' : 'edit' }}</md-icon>
                                    {{ showExtraDetails ? 'ascunde' : 'editeaza' }} detalii
                                </md-button>
                            </div>


                            <fieldset ng-show="showExtraDetails">
                                <legend>Detalii</legend>
                                <div layout="row" layout-align="start center" layout-wrap>
                                    <md-input-container class="no-validation">
                                        <label>Data sedintei</label>
                                        <md-datepicker name="date" required 
                                            ng-model="servicesByStaff.date" 
                                            md-max-date="$ctrl.data.maxDate">
                                        </md-datepicker>
                                    </md-input-container>
                
                                    <md-time-picker 
                                        ng-model="servicesByStaff.date" 
                                        message="$ctrl.data.timePickerMessages" 
                                        read-only="false" 
                                        mandatory="true" 
                                        no-meridiem>
                                    </md-time-picker>

                                    <md-input-container class="margin-left no-validation">
                                        <md-icon>face</md-icon>
                                        <label>Interval (sapt.)</label>
                                        <input name="interval"
                                            type="number" step="1" min="0" 
                                            ng-model="servicesByStaff.interval">
                                    </md-input-container>
                                </div>

                                <md-input-container class="md-block">
                                    <label>Produse vandute</label>
                                    <textarea name="soldProducts" ng-model="servicesByStaff.soldProducts">
                                    </textarea>
                                </md-input-container>
            
                                <md-input-container class="md-block">
                                    <label>Observatii</label>
                                    <textarea name="observations" ng-model="servicesByStaff.observations">
                                    </textarea>
                                </md-input-container>
            
                                <md-checkbox
                                    ng-model="servicesByStaff.photosTaken">
                                    Poze
                                </md-checkbox>
                                <md-checkbox
                                    ng-model="servicesByStaff.videosTaken"> 
                                    Filmare
                                </md-checkbox>
                            </fieldset>
                        </md-card-content>
                    </md-card>
                    
                </div>

                <!--BUTON ADAUGA SERVICII-->
                <div layout="row" layout-align="start center">
                    <md-button class="md-raised"
                        ng-hide="$ctrl.data.historyItem.performedServices.length === $ctrl.data.users.length"
                        ng-click="$ctrl.actions.addServicesByStaff($ctrl.data.historyItem)">
                        <md-icon>add</md-icon>
                        Adauga servicii
                    </md-button>
                </div>

                <md-divider></md-divider>
                <md-divider></md-divider>

                <!--ADD PRODUCTS FORM-->
                <ng-form name="$ctrl.data.soldProductsByStaffForm">
                    <div ng-repeat="soldProductsByStaff in $ctrl.data.historyItem.soldProducts track by $index">
                        <md-card>
                            <md-card-header layout="row" layout-align="start center">
                                <md-card-header-text ng-click="$ctrl.actions.showCardContentProducts($index)" layout="row" layout-align="start center">
                                    <span class="md-title" ng-hide="soldProductsByStaff.staff && soldProductsByStaff.products">
                                        Alege persoana si produsele vandute 
                                    </span>
                                    <span class="md-title" ng-show="soldProductsByStaff.staff && soldProductsByStaff.products" layout="column">
                                        <div>{{ soldProductsByStaff.staff.first_name + ' ' + soldProductsByStaff.staff.last_name }} </div>
                                        <small>{{ soldProductsByStaff.products.length }} {{ soldProductsByStaff.products.length === 1 ? 'produs' : 'produse'}}</small>
                                    </span>
                                    <span>
                                        <md-button class="md-icon-button">
                                            <md-icon>keyboard_arrow_{{$ctrl.data.showCardContentProducts[$index] ? 'up' : 'down'}}</md-icon>
                                        </md-button>
                                    </span>
                                </md-card-header-text>
                                <md-button ng-click="$ctrl.actions.deleteSoldProductsByStaff($ctrl.data.historyItem.soldProducts, $index)" button-shrink="gt-sm">
                                    <md-icon>delete</md-icon>
                                    Sterge
                                </md-button>
                            </md-card-header>
                            <md-card-content ng-show="$ctrl.data.showCardContentProducts[$index]">
                                <div>
                                    
                                    <div layout="row">

                                        <!--STAFF-->
                                        <md-input-container flex>
                                            <label>Produse vandute de:</label>
                                            <md-select name="staff_{{$index}}" required
                                                ng-model-options="{trackBy: '$value.id'}" 
                                                ng-model="soldProductsByStaff.staff">
                                                <md-option ng-value="user" ng-repeat="user in $ctrl.data.users track by user.id">
                                                    <md-icon>account_circle</md-icon> {{ user.first_name }} {{ user.last_name }}
                                                </md-option>
                                            </md-select>
                                            <div ng-messages="$ctrl.data.soldProductsByStaffForm['staff_' + $index].$error">
                                                <div ng-message="required">O persoana trebuie selectata.</div>
                                            </div>
                                        </md-input-container>

                                    </div>

                                    <div ng-repeat="product in soldProductsByStaff.products track by $index">
                                        <div layout="row" layout-align="start center">
                                            <md-input-container>
                                                <label>Cod:</label>
                                                <input name="product_{{$index}}.code"
                                                    type="text" required
                                                    ng-model="product.code"
                                                    >
                                                <div ng-messages="$ctrl.data.soldProductsByStaffForm['product_' + $index+ '.code'].$error">
                                                    <div ng-message="required">Obligatoriu.</div>
                                                </div>
                                            </md-input-container>
                                            <md-input-container>
                                                <label>Nume:</label>
                                                <input name="product_{{$index}}.name"
                                                    type="text" required
                                                    ng-model="product.name"
                                                    >
                                                <div ng-messages="$ctrl.data.soldProductsByStaffForm['product_' + $index + '.name'].$error">
                                                    <div ng-message="required">Obligatoriu</div>
                                                </div>
                                            </md-input-container>
                                            <md-input-container>
                                                <label>Cantitate:</label>
                                                <input name="product_{{$index}}.quantity" 
                                                    type="number" required min="1" step="1"
                                                    ng-model="product.quantity"
                                                    ng-change="$ctrl.actions.setTotalProductsCost(soldProductsByStaff)"
                                                    >
                                                <div ng-messages="$ctrl.data.soldProductsByStaffForm['product_' + $index + '.quantity'].$error">
                                                    <div ng-message="required">Obligatoriu</div>
                                                    <div ng-message="min"> > 1 </div>
                                                </div>
                                            </md-input-container>
                                            <md-input-container>
                                                <label>Pret:</label>
                                                <input name="product_{{$index}}.price" 
                                                    type="number" required min="1" step="1"
                                                    ng-model="product.price"
                                                    ng-change="$ctrl.actions.setTotalProductsCost(soldProductsByStaff)"
                                                    >
                                                <div ng-messages="$ctrl.data.soldProductsByStaffForm['product_' + $index + '.price'].$error">
                                                    <div ng-message="required">Obligatoriu</div>
                                                    <div ng-message="min"> > 1 </div>
                                                </div>
                                            </md-input-container>
                                            <md-button class="md-icon-button" ng-hide="soldProductsByStaff.products.length === 1"
                                                ng-click="$ctrl.actions.deleteSoldProduct(soldProductsByStaff.products, $index)">
                                                <md-icon>delete</md-icon>
                                            </md-button>
                                        </div>
                                    </div>
                                    <md-button 
                                        ng-click="$ctrl.actions.addSoldProduct(soldProductsByStaff.products)">
                                        <md-icon>add</md-icon>
                                        adauga produs
                                    </md-button>
                                </div>

                                <div layout="row" layout-wrap ng-show="soldProductsByStaff.products.length">

                                    <!--PRET-->
                                    <md-input-container>
                                        <label>Pret grup produse</label>
                                        <md-icon>attach_money</md-icon>
                                        <input name="cost_{{$index}}" 
                                            type="number" step="1" min="0" required
                                            ng-model="soldProductsByStaff.cost"
                                            ng-change="$ctrl.actions.setTotalCostWithDiscount(soldProductsByStaff)"
                                        >
                                        <div ng-messages="$ctrl.data.soldProductsByStaffForm['cost_' + $index].$error">
                                            <div ng-message="required">Obligatoriu</div>
                                            <div ng-message="min">Pretul nu poate fi negativ</div>
                                        </div>
                                    </md-input-container>
    
                                    <!--DISCOUNT-->
                                    <md-input-container>
                                        <label>Discount</label>
                                        <md-icon>money_off</md-icon>
                                        <input name="discount_{{$index}}" 
                                            type="number" step="1" min="0"
                                            ng-model="soldProductsByStaff.discount" 
                                            ng-change="$ctrl.actions.setTotalCostWithDiscount(soldProductsByStaff)"
                                        >
                                        <div ng-messages="$ctrl.data.soldProductsByStaffForm['discount_' + $index].$error">
                                            <div ng-message="min">Discount-ul nu poate fi negativ</div>
                                        </div>
                                    </md-input-container>
    
                                    <!--TOTAL-->
                                    <md-input-container>
                                        <label>Total (RON)</label>
                                        <md-icon>attach_money</md-icon>
                                        <input name="total_{{$index}}" 
                                            type="number" step="1" min="0" ng-readonly="true"
                                            ng-model="soldProductsByStaff.total" 
                                        >
                                    </md-input-container>
                                </div>
    
                                <div layout="row" layout-wrap>
                                    <!--BUTON ARATA DETALII-->
                                    <md-button ng-click="showExtraDetails = !showExtraDetails">
                                        <md-icon>{{ showExtraDetails ? 'keyboard_arrow_up' : 'edit' }}</md-icon>
                                        {{ showExtraDetails ? 'ascunde' : 'editeaza' }} detalii
                                    </md-button>
                                </div>
    
                                <fieldset ng-show="showExtraDetails">
                                    <legend>Detalii</legend>
                                    <div layout="row" layout-align="start center" layout-wrap>
                                        <md-input-container class="no-validation">
                                            <label>Data vanzarii</label>
                                            <md-datepicker name="date" required 
                                                ng-model="soldProductsByStaff.date" 
                                                md-max-date="$ctrl.data.maxDate">
                                            </md-datepicker>
                                        </md-input-container>
                    
                                        <md-time-picker 
                                            ng-model="soldProductsByStaff.date" 
                                            message="$ctrl.data.timePickerMessages" 
                                            read-only="false" 
                                            mandatory="true" 
                                            no-meridiem>
                                        </md-time-picker>
                                    </div>
                                </fieldset>
                            </md-card-content>
                        </md-card>
                        
                    </div>
                </ng-form>
                <!--BUTON ADAUGA PRODUSE-->
                <div layout="row" layout-align="start center">
                    <md-button class="md-raised"
                        ng-hide="$ctrl.data.historyItem.soldProducts.length === $ctrl.data.users.length"
                        ng-click="$ctrl.actions.addSoldProductsByStaff($ctrl.data.historyItem)">
                        <md-icon>add</md-icon>
                        Adauga produse
                    </md-button>
                </div>


                <!--PLATA-->
                <md-card ng-show="$ctrl.data.historyItem.payment.total || $ctrl.data.historyItem.payment.discountServices || $ctrl.data.historyItem.payment.discountProducts">
                    <md-card-header ng-click="$ctrl.actions.showHidePaymentCard($ctrl.status.showPaymentCard)">
                        <md-card-header-text layout="row" layout-align="start center">
                            <span class="md-title">Plata</span>
                            <span>
                                <md-button class="md-icon-button">
                                    <md-icon>keyboard_arrow_{{$ctrl.status.showPaymentCard ? 'up' : 'down'}}</md-icon>
                                </md-button>
                            </span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content ng-show="$ctrl.status.showPaymentCard">
                        <div layout="row" layout-align="start start" flex 
                            ng-repeat="paidAmount in $ctrl.data.historyItem.payment.paidAmounts track by $index">
                            <md-input-container flex>
                                <label>Mod Plata:</label>
                                <md-select name="paymentType_{{$index}}" required
                                    ng-model-options="{trackBy: '$value.id'}"
                                    ng-model="paidAmount.type">
                                    <md-option ng-value="paymentMethod" ng-repeat="paymentMethod in $ctrl.data.paymentMethods track by paymentMethod.id">
                                        <md-icon>{{ paymentMethod.icon }}</md-icon> {{ paymentMethod.name }}
                                    </md-option>
                                </md-select>
                                <div ng-messages="$ctrl.data.addServicesByStaffForm['paymentType_' + $index].$error">
                                    <div ng-message="required">Obligatoriu</div>
                                </div>
                            </md-input-container>

                            <md-input-container flex>
                                <label>Platit {{ paidAmount.type.name }}:</label>
                                <input name="paymentValue_{{$index}}" 
                                    type="number" min="0" step="1" 
                                    ng-required="paidAmount.type.id"
                                    ng-disabled="!paidAmount.type.id"
                                    ng-model="paidAmount.total"
                                    ng-change="$ctrl.actions.setTotalPaid($ctrl.data.historyItem.payment.paidAmounts)">
                                    <div ng-messages="$ctrl.data.addServicesByStaffForm['paymentValue_' + $index].$error">
                                        <div ng-message="min">Peste zero</div>
                                        <div ng-message="required">Obligatoriu</div>
                                    </div>
                            </md-input-container>
                            <md-button class="md-icon-button"
                                ng-click="$ctrl.actions.deletePaymentMethod($ctrl.data.historyItem.payment.paidAmounts, $index)">
                                <md-icon>delete</md-icon>
                            </md-button>
                        </div>
                        <md-button 
                            ng-hide="$ctrl.data.paymentMethods.length === $ctrl.data.historyItem.payment.paidAmounts.length"
                            ng-click="$ctrl.actions.addPaymentMethod($ctrl.data.historyItem.payment.paidAmounts)">
                            <md-icon>add</md-icon>
                            mod plata
                        </md-button>
                        <div layout="column" layout-align="start end" layout-padding flex>
                            <span>Discount Servicii: {{ $ctrl.data.historyItem.payment.discountServices }} RON</span>
                            <span>Discount Produse: {{ $ctrl.data.historyItem.payment.discountProducts }} RON</span>
                            <span>Cost Total: {{ $ctrl.data.historyItem.payment.total }} RON</span>
                            <span>Platit: {{ $ctrl.data.historyItem.payment.paidAmount || 0 }} RON</span>
                            <span ng-class="$ctrl.status.isPaidInFull($ctrl.data.historyItem.payment.total, $ctrl.data.historyItem.payment.paidAmount)">
                                Rest de Plata: {{ $ctrl.data.historyItem.payment.total - $ctrl.data.historyItem.payment.paidAmount }} RON
                            </span>
                        </div>
                    </md-card-content>
                </md-card>

            </form>

        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="end center">
        <md-button class="md-warn" admin-only ng-if="$ctrl.data.historyItem._id"
            ng-click="$ctrl.actions.deleteSession($ctrl.data.historyItem)">
            Delete
        </md-button>
        <div flex></div>
        <md-button 
            ng-click="$ctrl.actions.test($ctrl.data.addServicesByStaffForm)">
            test
        </md-button>
        <md-button 
            ng-click="$ctrl.actions.cancel()">
            Renunta
        </md-button>
        <md-button class="md-raised md-primary" 
            ng-click="$ctrl.actions.save($ctrl.data.historyItem)" 
            ng-disabled="$ctrl.data.addServicesByStaffForm.$invalid">
            Salveaza Sedinta
        </md-button>
    </md-dialog-actions>

</md-dialog>