<div layout="column" layout-gt-sm="row" layout-align-gt-xs="start stretch" ng-hide="$ctrl.data.newClient">
    <div flex>
        <client-profile 
            new-client="$ctrl.data.newClient" 
            client-data="$ctrl.data.client" 
            on-edit-client="$ctrl.actions.editClient($event)">
        </client-profile>
    </div>
    <div flex>
        <client-history 
            new-client="$ctrl.data.newClient"
            history-data="$ctrl.data.history" 
            on-add-history-item="$ctrl.actions.addHistoryItem($event)" 
            on-edit-history-item="$ctrl.actions.editHistoryItem($event)">
        </client-history>
    </div>
</div>