<div layout="column" layout-gt-sm="row" layout-align-gt-xs="start stretch" ng-hide="$ctrl.data.newClient">
    <div flex>
        <client-profile 
            new-client="$ctrl.data.newClient" 
            client-data="$ctrl.data.client" 
            preferred-staff="$ctrl.data.preferredStaff"
            on-edit-client="$ctrl.actions.editClient($event)">
        </client-profile>
    </div>


    <!-- <div>
        <h2>payment habit</h2>
        <div layout="row">
            <div ng-repeat="historyItem in $ctrl.data.lastThreeSessions track by $index" layout="column">
                <md-icon ng-repeat="paymentType in historyItem track by paymentType.id">{{ paymentType.icon }}</md-icon>
            </div>
        </div>
    </div> -->


    <div flex>
        <client-history 
            new-client="$ctrl.data.newClient"
            history-data="$ctrl.data.history" 
            on-add-history-item="$ctrl.actions.addHistoryItem($event)" 
            on-edit-history-item="$ctrl.actions.editHistoryItem($event)"
            on-refresh-history="$ctrl.actions.refreshHistory($event)">
        </client-history>
    </div>
</div>