<div layout="row">
	<div flex="20" flex-offset="5">
		<client-profile
			client-data="$ctrl.data.client"
			on-save-client-profile="$ctrl.actions.saveClientProfile($event)"
		>
		</client-profile>
	</div>
	<div flex> 
		<client-history
			client-data="$ctrl.data.client"
			history-data="$ctrl.data.history"
			on-add-history-item="$ctrl.actions.addHistoryItem($event)"
			on-select-history-item="$ctrl.actions.selectHistoryItem($event)"
		>
		</client-history>
	</div>
	<div flex>
		<client-history-detail
			on-edit-hitory-item="$ctrl.actions.editHistoryItem($event)"
			history-item-data="$ctrl.data.selectedHistoryItem"
		>
		</client-history-detail>
	</div>
	<div flex="5"></div>
</div>
