<md-dialog aria-label="{{ $ctrl.data.title }}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ $ctrl.data.title }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="$ctrl.actions.cancel()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <form name="$ctrl.data.serviceTypeForm" layout="column">
                <md-input-container class="md-block">
                    <label>Denumire tip serviciu</label>
                    <md-icon>style</md-icon>
                    <input name="serviceTypeName" ng-model="$ctrl.data.serviceType.name" minlength="2" md-maxlength="50" required>
                    <div ng-messages="$ctrl.data.serviceTypeForm.serviceTypeName.$error">
                        <div ng-message="required">Denumirea este obligatorie</div>
                        <div ng-message="md-maxlength">Denumirea trebuie sa aiba sub 50 de caractere</div>
                        <div ng-message="minlength">Denumirea trebuie sa aiba mai mult de 1 caracter</div>
                    </div>
                </md-input-container>
                <div layout="row">
                    <md-switch ng-model="$ctrl.data.serviceType.isProtected" aria-label="Can be deleted?">
                        {{ $ctrl.data.serviceType.isProtected ? 'Nu poate' : 'Poate'}} fi sters
                    </md-switch>
                </div>
            </form>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="end center">
        <md-button ng-click="$ctrl.actions.cancel()">
            Renunta
        </md-button>
        <md-button 
            class="md-raised md-primary" 
            ng-click="$ctrl.actions.save($ctrl.data.serviceType)" 
            ng-disabled="$ctrl.data.serviceTypeForm.$invalid">
            Salveaza Tip Serviciu
        </md-button>
    </md-dialog-actions>

</md-dialog>