[ng-click] {
  cursor: pointer;
}

.md-tooltip {
  font-size: 1em!important;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

md-list-item h3,
md-list-item h4,
md-list-item p {
  white-space: normal!important;
}

.md-dialog-content md-input-container .md-input-message-animation:not(.ng-animate) { 
  opacity: 1 !important; 
  margin-top: 0px !important; 
}

.md-sidenav-left .sidenavBtn {
	display: block; 
	width: 100%; 
	text-align: left; 
	padding: 10px 20px;
} 

.sidebar-menu-item .md-button {
	margin: 0;
	color: currentColor;
}

.sidebar-menu-item md-icon {
	margin-right: 24px;
}  

.md-autocomplete-suggestions-container li .highlight {
    color: rgb(128,0,128);
}

.md-autocomplete-suggestions-container .md-autocomplete-suggestions li {
  line-height: inherit;
  height: auto;
  padding: 15px;
}

/* .container-select-header {
  Please note: All these selectors are only applied to children of elements with the 'container-select-header' class
} */
.container-select-header .select-header-searchbox {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0; 
}
.container-select-header .select-header {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  padding-left: 10.667px;
  height: 48px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: auto; 
}
.container-select-header md-content._md {
  max-height: 240px; 
}

.overflow {
  max-height: 60vh;
  overflow-y: auto;
}

.product-picture, 
.consumable-picture {
	object-fit: cover;
	width: 100%;
	height: 100px;
}

.qr-code-bank-account {
  max-width: 650px;
  margin: auto;
}

md-input-container.no-validation .md-errors-spacer:empty { display: none; }
md-input-container.no-validation { margin-bottom: 0; margin-top: 0 }

md-datepicker.hide-input-container .md-datepicker-input-container {
  opacity: 0;
  width: 0px;
}

md-datepicker.hide-input-container .md-icon-button+.md-datepicker-input-container {
  margin: 0;
}

.vip-background.low {
  background-color: rgba(255, 0, 0, 0.2);
}
.vip-background.normal {
  background-color: rgba(255, 162, 0, 0.2);
}
.vip-background.high {
  background-color: rgba(0, 0, 255, 0.2);
}
.vip-background.very-high {
  background-color: rgba(0, 128, 0, 0.2);
}

.vip-text.low {
  color: red;
}
.vip-text.normal {
  color: orange;
}
.vip-text.high {
  color: blue;
}
.vip-text.very-high {
  color: green;
}

.loading-overlay { 
  top:0;
  position: fixed; 
  width:100%; 
  height:100%; 
  z-index: 99999; 
  background-color: rgba(255, 255, 255, 0.8); 
}

.hide-scroll {
  overflow: hidden;
}

/* .sticky-toolbar {
  position: fixed;
}

.app-content {
  padding-top: 56px;
} */

.active-link,
.active-link md-icon {
  color:rgb(156,39,176);
}

.fade {
  transition: 0.1s linear all;
}

.fade.ng-hide-add { 
  opacity: 1;
}

.fade.ng-hide-remove {
  opacity: 0;
}

/* fix for md-dialog backdrop when multiple dialogs overlap */
.md-dialog-backdrop:nth-of-type(even) {
  z-index: 81;
}

.md-dialog-backdrop:nth-of-type(odd) {
  z-index: 79;
}

.md-dialog-container:nth-of-type(even) {
  z-index: 80;
}

.md-dialog-container:nth-of-type(odd) {
  z-index: 82;
}

.margin-left {
  margin-left: 12px;
}