[ng-click] {
  cursor: pointer;
}

.md-sidenav-left .sidenavBtn {
	display: block; 
	width: 100%; 
	text-align: left; 
	padding: 10px 20px;
} 

.sidebar-menu-item .md-button {
	margin: 0;
	color: currentColor;
}

.sidebar-menu-item md-icon {
	margin-right: 24px;
}  

.md-autocomplete-suggestions-container li .highlight {
    color: rgb(128,0,128);
}

.selectdemoSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }
  .selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; }
  .selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; }
  .selectdemoSelectHeader md-content._md {
    max-height: 240px; }


.overflow {
  max-height: 60vh;
  overflow-y: auto;
}

