<md-tabs md-dynamic-height md-border-bottom md-selected="$ctrl.data.selectedTab">

    <md-tab>
        <md-tab-label>Gestiune Servicii</md-tab-label>
        <md-tab-body>
            <md-content class="md-padding">
                <services></services>
            </md-content>
        </md-tab-body>
    </md-tab>

    <md-tab>
        <md-tab-label>Gestiune Consumabile</md-tab-label>
        <md-tab-body>
            <md-content class="md-padding">
                <consumables></consumables>
            </md-content>
        </md-tab-body>
    </md-tab>

    <md-tab>
        <md-tab-label>Gestiune Produse</md-tab-label>
        <md-tab-body>
            <md-content class="md-padding">
                <products></products>
            </md-content>
        </md-tab-body>
    </md-tab>

</md-tabs>