<h2 class="md-flex">Istoric client</h2>
<md-content flex style="max-height: 80vh">
	<md-card>
		<md-card-header ng-click="$ctrl.status.showNewHistoryItemForm = true">
			<md-card-header-text layout="row" layout-align="start center" >
				<span class="md-title"><md-icon>add</md-icon> Sedinta noua</span>
			</md-card-header-text>
		</md-card-header>
		<md-card-content ng-show="$ctrl.status.showNewHistoryItemForm">
			<form name="$ctrl.data.newHistoryItemForm">
				<div layout="row" layout-align="start center">
					<md-input-container>
						<label>Introdu data</label>
						<md-datepicker name="date" required
							ng-model="$ctrl.data.newHistoryEntry.date"  
							md-max-date="$ctrl.data.maxDate"
							md-open-on-focus>
						</md-datepicker>
						<div ng-messages="$ctrl.data.newHistoryItemForm.date.$error">
							<div ng-message="valid">Valoarea introdusa nu este o data valida</div>
							<div ng-message="required">Data este necesara</div>
							<div ng-message="maxdate">Data nu poate fi mai mare decat data curenta</div>
						</div>
					</md-input-container>
					<div flex></div>
					<md-input-container flex>
						<label>Interval in saptamani</label>
						<md-icon>timelapse</md-icon>
						<input ng-model="$ctrl.data.newHistoryEntry.interval" type="number" step="1">
					</md-input-container>
				</div>
				<div layout="row" layout-align="start center">
					<md-input-container flex>
						<label>Servicii prestate</label>
						<md-select name="services"
							ng-model="$ctrl.data.newHistoryEntry.services" multiple required
							md-on-close="$ctrl.data.searchServices = ''; $ctrl.actions.showSelectedServices($ctrl.data.newHistoryEntry.services)"
							data-md-container-class="selectdemoSelectHeader">
							<md-select-header class="demo-select-header">
								<input
									ng-model="$ctrl.data.searchServices"
									placeholder="Cauta un serviciu"
									class="demo-header-searchbox md-text">
							</md-select-header>
							<md-optgroup label="{{service}}" ng-repeat="service in $ctrl.data.servicesTypes track by service">
								<md-option ng-value="service" ng-repeat="service in filteredServices = ($ctrl.data.services | filter: {type: service, name: $ctrl.data.searchServices } )  track by service.id">{{service.name}}</md-option>
							</md-optgroup>
						</md-select>
						<div ng-messages="$ctrl.data.newHistoryItemForm.services.$error">
							<div ng-message="required">Minim un serviciu trebuie introdus</div>
						</div>
					</md-input-container>
				</div>

				<md-input-container class="md-block">
					<label>Creme acasa</label>
					<textarea md-select-on-focus name="homeProducts"
						ng-model="$ctrl.data.newHistoryEntry.homeProducts">
					</textarea>
				</md-input-container>
			</form>
		</md-card-content>
		<md-card-actions ng-show="$ctrl.status.showNewHistoryItemForm">
			<div layout="row" layout-align="end center">
				<md-button class="md-raised"
					ng-click="$ctrl.status.showNewHistoryItemForm = false">
					<md-icon>cancel</md-icon>
					Renunta
				</md-button>
				<md-button class="md-primary md-raised" 
					ng-disabled="$ctrl.data.newHistoryItemForm.$invalid"
					ng-click="$ctrl.actions.addNewHistoryItem($ctrl.data.newHistoryEntry, $ctrl.data.client)">
					<md-icon>add</md-icon>
					Adauga sedinta
				</md-button>
			</div>
		</md-card-actions>
	</md-card>

	<div ng-repeat="historyItem in $ctrl.data.history | orderBy: 'date' track by historyItem._id">
		<md-card>
			<md-card-header>
				<md-card-header-text>
					<span class="md-title">Sedinta {{$index + 1}}</span>
					<span class="md-subhead">Data: {{historyItem.date}}</span>
				</md-card-header-text>
			</md-card-header>
		</md-card>
	</div>
</md-content>


