<md-dialog aria-label="{{ $ctrl.data.title }}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ $ctrl.data.title }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="$ctrl.actions.cancel()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <form name="$ctrl.data.staffForm" autocomplete="off" novalidate>
                <div layout="column">
                    <div layout="column" layout-gt-sm="row">
                        <md-input-container class="md-block">
                            <label>Prenume</label>
                            <md-icon>person</md-icon>
                            <input name="staffFirstName" ng-model="$ctrl.data.staff.firstName" minlength="2" md-maxlength="100" required>
                            <div ng-messages="$ctrl.data.staffForm.staffFirstName.$error">
                                <div ng-message="required">Prenumele este obligatoriu</div>
                                <div ng-message="md-maxlength">Prenumele trebuie sa aiba sub 100 de caractere</div>
                                <div ng-message="minlength">Prenumele trebuie sa aiba mai mult de 1 caracter</div>
                            </div>
                        </md-input-container>
                    
                        <md-input-container class="md-block">
                            <label>Nume</label>
                            <md-icon>person</md-icon>
                            <input name="staffLastName" ng-model="$ctrl.data.staff.lastName"  minlength="2" md-maxlength="100" required>
                            <div ng-messages="$ctrl.data.staffForm.staffLastName.$error">
                                <div ng-message="required">Numele este obligatoriu</div>
                                <div ng-message="md-maxlength">Numele trebuie sa aiba sub 100 de caractere</div>
                                <div ng-message="minlength">Numele trebuie sa aiba mai mult de 1 caracter</div>
                            </div>
                        </md-input-container>
                    </div>
                    
                    
                    <md-input-container class="md-block">
                        <label>Telefon</label>
                        <md-icon>phone</md-icon>
                        <input 
                            name="staffPhoneNo" type="text" minlength="10" md-maxlength="10" required
                            ng-model="$ctrl.data.staff.phoneNumber" ng-model-options="{debounce: 500}" 
                            ng-change="$ctrl.actions.checkIfDuplicate('phoneNumber', $ctrl.data.staff.phoneNumber)"  
                            >
                        <div ng-messages="$ctrl.data.staffForm.staffPhoneNo.$error">
                            <div ng-message="required">Numarul de telefon este obligatoriu</div>
                            <div ng-message="minlength, md-maxlength">Numarul de telefon trebuie sa inceapa cu zero si sa fie format din 10 cifre</div>
                        </div>
                    </md-input-container>
                    <div layout="row">
                        <md-button ng-show="$ctrl.status.showButton">duplicat</md-button>
                    </div>

                    <div layout="column" layout-gt-sm="row">
                        <md-input-container class="md-block">
                            <label>Data nasterii</label>
                            <md-datepicker flex
                                name="staffDateOfBirth"
                                ng-model="$ctrl.data.staff.dateOfBirth" 
                                md-current-view="year" 
                                md-placeholder="Data Nasterii"
                                md-max-date="$ctrl.data.maxDateOfBirth"
                                md-open-on-focus
                                required
                                ng-blur="$ctrl.actions.calculateStaffAge($ctrl.data.staff.dateOfBirth)"
                                >
                            </md-datepicker>
                            <div ng-messages="$ctrl.data.staffForm.staffDateOfBirth.$error">
                                <div ng-message="required">Data nasterii este obligatorie</div>
                            </div>
                        </md-input-container>
                
                        <md-input-container flex>
                            <label>Varsta</label>
                            <md-icon>person</md-icon>
                            <input name="staffAge" type="text" ng-model="$ctrl.data.staff.age" ng-readonly="true">
                        </md-input-container>
                    </div>


                    <div layout="row" layout-align="start center">
                        <md-input-container flex>
                            <label>Alege Roluri</label>
                            <md-select 
                                name="roles" multiple required
                                ng-model="$ctrl.data.staff.roles">
                                <md-option 
                                    ng-value="role._id" 
                                    ng-repeat="role in $ctrl.data.roles track by role._id">
                                    {{ role.name }}
                                </md-option>
                            </md-select>
                            <div ng-messages="$ctrl.data.staffForm.roles.$error">
                                <div ng-message="required">Minim un rol trebuie ales.</div>
                            </div>
                        </md-input-container>
                    </div>
                
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <md-icon>email</md-icon>
                        <input name="staffEmail" type="email" 
                            ng-model="$ctrl.data.staff.email" 
                            ng-model-options="{debounce: 500}" 
                            ng-change="$ctrl.actions.checkIfDuplicate('email', $ctrl.data.staff.email)"  
                            ng-pattern="/[\wd\-\_\.]+@[\wd\-\_\.]+\.[\wd\-\_\.]+/">
                        <div ng-messages="$ctrl.data.staffForm.staffEmail.$error">
                            <div ng-message="pattern">Adresa trebuie sa fie in formatul: user.name@email.com</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Descriere</label>
                        <md-icon>description</md-icon>
                        <textarea ng-model="$ctrl.data.staff.description">
						</textarea>
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="end center">
        <md-button ng-click="$ctrl.actions.cancel()">
            Renunta
        </md-button>
        <md-button 
            class="md-raised md-primary" 
            ng-click="$ctrl.actions.save($ctrl.data.staff)" 
            ng-disabled="$ctrl.data.staffForm.$invalid">
            Salveaza Angajat
        </md-button>
    </md-dialog-actions>

</md-dialog>


