<md-toolbar class="sticky-toolbar">
    <div class="md-toolbar-tools" layout="row">
        <md-button 
            class="md-icon-button" 
            ng-click="$ctrl.status.showSearch = false" 
            ng-show="$ctrl.status.showSearch">
            <md-icon>arrow_back</md-icon>
        </md-button>
        <h2
            flex="none" hide-xs
            ng-click="$ctrl.status.showSearch = false" 
            ng-show="$ctrl.status.showSearch">
            Search
        </h2>

        <md-button 
            class="md-icon-button" 
            ng-click="$ctrl.showSidenav = true" 
            ng-hide="$ctrl.status.showSearch">
            <md-icon>menu</md-icon>
        </md-button>
        <h2
            flex="none"
            ng-hide="$ctrl.status.showSearch">
            Elena Miron <span hide-gt-xs>- C. E.</span> <span hide show-gt-xs> - Centru Estetic </span>
        </h2>

        <client-search flex flex-offset="5"
            ng-show="$ctrl.status.showSearch"
            show="$ctrl.status.showSearch"
            show-clear-button="$ctrl.status.showClearButton"
            on-blur="$ctrl.actions.hideSearch($event)"
            on-selection="$ctrl.actions.openClientPage($event)">
        </client-search>

        <div flex ng-hide="$ctrl.status.showSearch"></div>
        
        <md-button class="md-icon-button"
            ng-hide="$ctrl.status.showSearch" 
            ng-click="$ctrl.status.showSearch = true">
            <md-icon>search</md-icon>
            <md-tooltip hide show-gt-sm>Cauta Clienti</md-tooltip>
        </md-button>
        <md-button ui-sref="client({id: 0})" class="md-default md-icon-button">
            <md-icon>person_add</md-icon>
            <md-tooltip hide show-gt-sm>Adauga client nou</md-tooltip>
        </md-button>
    </div>
</md-toolbar>