<form name="$ctrl.searchClientForm" layout="row" layout-align="end center" ng-show="$ctrl.status.show">
    <md-autocomplete flex ng-blur="$ctrl.actions.hideSearch(false)" 
        placeholder="Cauta client dupa nume, prenume, telefon sau email" 
        md-select-on-focus
        md-autofocus
        md-no-cache="true" 
        md-delay="500" 
        md-clear-button="false"
        md-search-text="$ctrl.data.searchText" 
        md-selected-item-change="$ctrl.actions.openClientPage(client._id)" 
        md-items="client in $ctrl.actions.searchClients($ctrl.data.searchText)"
        md-item-text="client.firstName + ' ' + client.lastName">
        <md-item-template>

            <div layout="row" layout-align="start center">
                <div layout="column" layout-align="start start">
                    <div 
                        md-highlight-text="$ctrl.data.searchText" 
                        md-highlight-flags="i">
                        {{client.firstName}} {{client.lastName}}
                    </div>
                    <div md-highlight-text="$ctrl.data.searchText" md-highlight-flags="i" ng-if="client.email">
                        {{client.email}} 
                    </div>
                    <div md-highlight-text="$ctrl.data.searchText" md-highlight-flags="i" ng-if="client.phoneNumber">
                        {{client.phoneNumber}} 
                    </div>
                </div>
                <div flex></div>
                <div>
                    <md-icon ng-if="client.isVip" ng-class="['vip-text', client.vip.level.label]">
                        star
                        <md-tooltip>
                            VIP: {{client.vip.type.label}}
                        </md-tooltip>
                    </md-icon>
                </div>
            </div>

        </md-item-template>
        <md-not-found>
            <div layout="row" layout-align="start center">
                <span>0 rezultate</span>
            </div>
        </md-not-found>
    </md-autocomplete>
    <md-button ng-click="$ctrl.actions.openClientPage(0)" class="md-default md-icon-button">
        <md-icon>person_add</md-icon>
        <md-tooltip>Adauga client nou</md-tooltip>
    </md-button>
</form>