<md-content class="md-padding">
    <div layout="column" layout-align="start center">
        <div flex>
            <h1>Cauta Clienti</h1>
        </div>
    </div>
    <div layout="row" layout-align="center start">
        <form name="$ctrl.searchClientForm" flex flex-gt-sm="50">
            <md-autocomplete md-no-cache="true" md-delay="500" placeholder="Introdu nume, prenume, telefon sau email" md-search-text="$ctrl.data.searchText" md-selected-item-change="$ctrl.actions.openClientPage(client._id)" md-items="client in $ctrl.actions.searchClients($ctrl.data.searchText)"
                md-item-text="client.firstName">
                <md-item-template>
                    <span layout="row">
						<span flex="33" 
							md-highlight-text="$ctrl.data.searchText" 
							md-highlight-flags="i">
							{{client.firstName}} {{client.lastName}}
						</span>
                    <span flex="33" md-highlight-text="$ctrl.data.searchText" md-highlight-flags="i">
							{{client.phoneNumber}} 
						</span>
                    <span flex="33" md-highlight-text="$ctrl.data.searchText" md-highlight-flags="i">
							{{client.email}} 
						</span>
                    </span>
                </md-item-template>
                <md-not-found>
                    <div layout="row" layout-align="start center">
                        <span>0 rezultate</span>
                        <span flex></span>
                        <md-button ng-click="$ctrl.actions.openClientPage(0)" class="md-primary">
                            <md-icon>add</md-icon>
                            Adauga un client nou
                        </md-button>
                    </div>
                </md-not-found>
            </md-autocomplete>
        </form>
    </div>
    <div layout="row" layout-align="center start">
        <div flex flex-gt-sm="50" layout="row">
            <div flex></div>
            <md-button ng-click="$ctrl.actions.openClientPage(0)" class="md-primary">
                <md-icon>add</md-icon>
                Adauga un client nou
            </md-button>
        </div>
    </div>
</md-content>