<div layout="row">
    <div flex="none">
        <md-card>
            <md-card-header>
                <md-icon>settings</md-icon>
                <md-card-header-text>
                    <div class="md-title">Gestiune</div>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <md-list>
                    <md-list-item ui-sref="services" ui-sref-active="active-link">
                        Servicii
                    </md-list-item>
                    <md-list-item ui-sref="consumables" ui-sref-active="active-link">
                        Consumabile
                    </md-list-item>
                    <md-list-item ui-sref="products" ui-sref-active="active-link">
                        Produse
                    </md-list-item>
                    <md-list-item ui-sref="staff" ui-sref-active="active-link">
                        Personal
                    </md-list-item>
                    <md-list-item ui-sref="roles" ui-sref-active="active-link">
                        Roluri
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
    <div flex>
        <div ui-view="settingsView"></div>
    </div>
</div>