<div layout="row">
    <div flex>
        <md-card>
            <md-card-title>
                <md-card-title-text layout="row" layout-align="space-between center">
                    <span class="md-headline">
						Lista Produse ({{ $ctrl.data.allProducts.length }})
                    </span>
                    <md-button class="md-primary" aria-label="add product" ng-click="$ctrl.actions.addProduct($event)">
                        <md-icon>add</md-icon>
                        adauga produs
                    </md-button>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div layout="row" ng-hide="!$ctrl.data.allProducts.length">
                    <md-input-container flex="33">
                        <md-icon>search</md-icon>
                        <label>Cauta produs</label>
                        <input ng-model="searchProduct" ng-model-options="{debounce: 400}">
                    </md-input-container>
                </div>
                <div class="overflow" ng-show="$ctrl.data.allProducts.length">
                    <md-list>
                        <md-list-item 
                            class="md-3-line" 
                            ng-repeat="product in $ctrl.data.allProducts | filter:searchProduct track by product._id" 
                            ng-click="$ctrl.actions.selectProduct($event, product)" 
                            ng-mouseover="showControl = true" 
                            ng-mouseleave="showControl = false">
                            <img ng-src="{{ $ctrl.data.noPicture }}" class="md-avatar" alt="poza produs" />
                            <div class="md-list-item-text" layout="column">
                                <h3>Producator: {{ product.manufacturer }}, Gama: {{ product.range }}, Nume: {{ product.name }}</h3>
                                <h4>Cod casa de marcat: {{ product.codeCashRegister }}, Cod Produs: {{ product.code }}</h4>
                                <p>Pret initial/vanzare: {{ product.priceInitial }}/{{ product.priceToSell }} RON - Cantitate: {{ product.volume }}ml</p>
                                <md-button ng-click="$ctrl.actions.selectProduct($event, product)" ng-show="showControl" class="md-secondary md-icon-button">
                                    <md-icon>edit</md-icon>
                                    <md-tooltip md-direction="top">Editeaza</md-tooltip>
                                </md-button>
                                <md-button ng-click="$ctrl.actions.deleteProduct(product._id)" ng-show="showControl" class="md-secondary md-icon-button">
                                    <md-icon>delete</md-icon>
                                    <md-tooltip md-direction="top">Sterge</md-tooltip>
                                </md-button>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </md-card-content>
            <md-card-footer ng-show="!$ctrl.data.allProducts.length" layout="row" layout-align="center center">
                <h2>Adauga un produs apasand butonul albastru</h2>
            </md-card-footer>
        </md-card>
    </div>
</div>